* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
}

header {
    padding-top: 5rem;
    background-color: transparent;
}

#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #150845;
    z-index: -1;
}

.container {
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 600px;
    height: 500px;
    justify-items: center;
    align-items: center;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 4%;
}

.cel {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 80%;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 0px;
    background-color: white;
}

.cel:hover {
    background-color: #000;
}

.center {
    text-align: center;
    margin: 1.5em 0;
}

.d-none {
    display: none;
}

button {
    font-weight: bold;
    padding: 1.2em;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: #150845;
    color: white;
    border: 1px solid #3415a5;
    cursor: pointer;
    transition: transform .5s;
}

button:hover {
    transition: 0.8 ease;
    transform: scale(1.2);
    background-color: #00aeff71;
}

main {
    display: flex;
    justify-content: center;

}

#container-score {
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

#div-score {
    text-align: center;
    margin: 1em 0 3em 0;
}

#div-players {
    display: flex;
    justify-content: space-between;
}

.player {
    padding: 1em;
    width: 150px;
    text-align: center;
}

#scoreOne {
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreTwo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#soloGame {
    text-align: center;
}

#draw {
    text-align: center;
}

@media (max-width: 980px) {
    main {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 620px) {
    .container {
        width: 500px;
        height: 400px;
    }
}

@media (max-width: 520px) {
    .container {
        width: 400px;
        height: 350px;
    }

    #container-score {
        font-size: 0.8em;
    }

    #div-score {
        margin: 1em 0 1em 0;
    }
}

@media (max-width: 420px) {
    .container {
        width: 300px;
        height: 250px;
    }

    #container-score {
        width: 300px;
        height: 200px;
        font-size: 0.7em;
    }

    #div-score {
        margin: 1em 0 1em 0;
    }
}